<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsCommonServiceServiceSoapBinding" maxReceivedMessageSize="2147483647" >
                    <readerQuotas maxDepth="64" maxStringContentLength="8192000"
                        maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000" />
                </binding>
                <binding name="WsCommonServiceServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.70.236:18080/spwjgl/ws/CommonService"
                binding="basicHttpBinding" bindingConfiguration="WsCommonServiceServiceSoapBinding"
                contract="LtServiceReference.WsCommonServiceI" name="WsCommonServicePort" />
            <endpoint address="http://172.16.70.254:18090/ver_man/ws/CommonService"
                binding="basicHttpBinding" bindingConfiguration="WsCommonServiceServiceSoapBinding1"
                contract="UpdateVersionServiceReference.WsCommonServiceI"
                name="WsCommonServicePort1" />
        </client>
    </system.serviceModel>
</configuration>
