<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsCommonServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.70.254:18090/ver_man/ws/CommonService"
                binding="basicHttpBinding" bindingConfiguration="WsCommonServiceServiceSoapBinding"
                contract="UpdateVersionServiceReference.WsCommonServiceI"
                name="WsCommonServicePort" />
        </client>
    </system.serviceModel>
</configuration>